 .home-product-container{
    width: 225px;
    cursor: pointer;
    position: relative;
    margin: 1rem;
}









.product-container:hover .product-cart{
    display: block;
}

#all-product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
} 

#home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebedee;

}

.home-mid-container {
    width: 400px;
    height: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: rgba(0, 0, 0, .7);
    justify-content: center;
    border-radius: 10px;
}

.coupon-span {
    text-align: center;
    font-size: 25px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    color: white;
}

.home-button {
    width: 100px;
    height: 40px;
    margin: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    font-weight: bold;
}

.mens-button{
    background-color: rgb(77, 148, 255);
}

.womens-button{
    background-color: rgb(255, 51, 51);
}

.kids-button{
    background-color: rgb(51, 255, 173);
}

.home-button:hover{
    opacity: .9;
}

#featured-item{
    margin-top: 30px;
    height: calc(100vh - 60px);
    position: absolute;
    user-select: none;
    cursor: pointer;

}

#home-container #bottom-container-images{
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.different_feature_button{
    display:inline-block;
    height: 14px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 10px;
    
}


.selected_different_feature_button{
    background-color: black;
    border-radius: 1px solid white;
}