header{
    height: 60px;
    background-color: #121212;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: static;
    z-index: 100;
    top: 0;
}

header h1{
    margin: 0;
    color: white;
    margin-left: 1.2rem;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    font-size: 2rem;
}

header #nav-left-container{
    margin-right: 1rem;
}

.nav-buttons{
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: 14px;
    outline: none;
    border: none;
    position: relative;
    width: fit-content;
    margin-top: 1px;
}

.nav-buttons-underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.nav-buttons-underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
    text-decoration: underline;
    opacity: .7;
}


@keyframes slideDown {
    0%      {transform: translateY(-100%); }
    100% {transform: translateY(0) }
}

@keyframes slideUp {
    0%      {transform: translateY(0); }
    100% {transform: translateY(-100%) }
}


#search-header{
    position: absolute;
    background: #121212;
    width: inherit;
    height: 60px;
    animation:slideDown .5s ease-in-out;
}

.slideUpAni{
    animation:slideUp .5s ease-in-out !important;
}


#search-header input{
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border: none;
    outline: none;
    padding: 2px;
    height: 23px;
    width: 200px;
    font-size: 15px;
    padding-left: .5rem;
    
}



#search-header button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}


#background-overlay{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,.15);
    display: none;
    z-index: 100;
}

#nav-pages-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}



@media(max-width:600px){
    
    #nav-left-container{
       display: block;
    }
    .dropdown{
        position: absolute;
        right: 20px;
    }
    .dropdown .dropbtn {
        font-size: 17px;
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
      }
      .dropdown-content a{
        text-decoration: none !important;
      }
      .dropdown-content button {
        color: black;
        padding: 12px 16px;
        width: 100%;
        text-align: left;
        display: block;
        text-decoration: none !important;

    }
    .dropdown:hover .dropdown-content {
        display: block;
      }  
      
 
}

